@font-face {
  font-family: Rockwell;
  src: url("/assets/rockwell.ttf");
}

* {
  font-family: Rockwell;
}

h1 {
  font-size: 5vh;
}
p {
  font-size: 2.25vh;
  font-weight: lighter;
}

li {
  font-size: 2.25vh;
  font-weight: lighter;
}

.md-image {
  width: 50vw; 
  box-shadow: black 10px 10px;
}

.small-p {
  font-size: medium;
}

@media (max-width: 992px) {
  h1 {
    font-size: 4vh;
    font-weight: bold;
  }

  h2 {
    font-weight: bolder;
    font-size: 3.5vh;
  }

  h3 {
    font-weight: bolder;
    font-size: 3vh;
  }

  h4 {
    font-size: 2.75vh;
    font-weight: 600;
  }

  p {
    font-size: 2.5vh;
    font-weight: lighter;
  }

  .small-p {
    font-size: 2vh;
  }

  li {
    font-size: 2.5vh;
    font-weight: lighter;
  }

  .md-image {
    width: 100%; 
    box-shadow: black 10px 10px;
  }
}
