---
---

@font-face {
  font-family: Rockwell;
  src: url("/assets/rockwell.ttf");
}

* {
  font-family: Rockwell;
}

h1 {
  font-size: 5vh;
}
p {
  font-size: 2.25vh;
  font-weight: lighter;
}

@media (max-width: 992px) {
  h1 {
    font-size: 4vh;
    font-weight: bold;
  }

  p {
    font-size: 3vh;
    font-weight: lighter;
  }
}
