---
sub_pages:
 - 
    name: "Über uns."
    slug: "about-us"
 - 
    name: "Gruppen."
    slug: "groups"
    sub_pages:
    - 
        name: "KSV-LiLi Bund"
        heading: "bund"
    - 
        name: "KSV-LiLi Wien"
        heading: "vie"
    - 
        name: "KSV-LiLi Innsbruck"
        heading: "ibk"
    - 
        name: "Linke Liste Graz"
        heading: "graz"
 - 
    name: "Programm."
    slug: "our-platform"
    sub_pages:
    - 
        name: "Antifaschismus"
        heading: "antifaschismus"
    - 
        name: "Bildung"
        heading: "bildung"
    - 
        name: "Feminismus"
        heading: "feminismus"
    - 
        name: "Klima"
        heading: "klima"
    - 
        name: "Prekarität"
        heading: "prekaritaet"
    - 
        name: "Asyl & Migration"
        heading: "asyl_migration"
    - 
        name: "Antisemitismus"
        heading: "antisemitismus"
 - 
    name: "FAQ."
    slug: "faq"
---

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/x-icon" href="/assets/favicon.ico">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
      crossorigin="anonymous"
    ></script>

    <script src="https://unpkg.com/rough-notation/lib/rough-notation.iife.js"></script>

    <link rel="stylesheet" href="/sass/styles.css"/>

    <style>
      :root {
        --header-height: 12vh;
        --header-text-height: 3vh;
      }

      .nav-link {
        color: white;
        font-size: var(--header-text-height);
        height: var(--header-text-height);
      }
      .nav-link:hover {
        color: white;
      }

      ul#menu li:last-child a {
        margin-right: 0 !important;
      }

      @supports (-webkit-appearance: none) {
        li > a {
          display: flex;
          align-items: center;
        }
      }
      
      .safari-hotfix {
        display: flex;
        align-items: center;
      }

      .dropdown-toggle:active, .dropdown-toggle:focus {
        outline: 0 !important;
      }

      .dropdown-item {
        cursor: pointer;
      }

      .dropdown-item:hover {
        background: black;
        color: white;
      }
    </style>

    <script src="/scripts/mobile.js"></script>
    <script src="/scripts/scrollToTitle.js"></script>
    <script src="/scripts/rough-notation.js"></script>
    <script src="/scripts/util.js"></script>

    <title>{{ page.title }}</title>
  </head>
  <body>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvas-main"
    >
      <div id="offcanvas-header" class="offcanvas-header">
        <button
          id="offcanvas-close-button"
          type="button"
          class="btn-close text-reset"
          data-bs-dismiss="offcanvas"
        ></button>
      </div>

      <div id="offcanvas-body">
        <div id="left"></div>
        <div id="right"></div>
        <div id="top-offcanvas"></div>
        <div id="bottom"></div>
        <div id="offcanvas-menu" class="offcanvas-body">
          <a href="/" id="offcanvas-home-button-link">
            <div id="offcanvas-home-button-div">
              <h1 id="offcanvas-home-button-header">
                Home.
              </h1>
            </div>
          </a>
          {% for sub_page in layout.sub_pages %}
            {% if sub_page.sub_pages %}
            <div style="display: grid; grid-template-rows: auto auto; justify-content: center;">
              <a id="{{ sub_page.name }}" onclick="event.preventDefault(); toggleMobileDropdown('{{ sub_page.name }}')"
              class="mobile-dropdown"
              style="text-decoration: none; text-align: center;" href="/{{ sub_page.slug }}">
                <div style="margin-top: 4vh; display: inline-flex; justify-content: center;">
                  <h1
                  style="
                    font-size: var(--header-text-height);
                    text-align: center;
                    color: white;
                    padding-right: 2vw;
                    padding-top: 1vh;
                    padding-bottom: 1vh;
                    width: min-content;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none;
                    cursor: pointer;
                    margin-top: 0;
                    margin-bottom: 0;
                  "
                >
                  {{ sub_page.name }} 
                  </h1>

                  <img 
                    src="/assets/caret-down-fill.svg" 
                    style="
                      height: calc(var(--header-text-height) / 2);
                      align-self: center;
                  "/>
                </div>
              </a>
                {% for option in sub_page.sub_pages %}
                <a class="dropdown-item" style="display: flex; justify-content: center;" href="/{{ sub_page.slug }}#{{ option.heading }}">
                  <h2 style="
                    font-size: calc(var(--header-text-height) * 0.8);
                    display: none;
                    text-align: center;
                    color: white;
                    padding-right: 2vw;
                    padding-top: 3vh;
                    -webkit-user-select: none;
                    -ms-user-select: none;
                    user-select: none; 
                  ">{{ option.name }}</h2>
                </a>
                {% endfor %}
            </div>
            {% else %}
            <a href="/{{ sub_page.slug }}" style="text-decoration: none">
              <div style="display: flex; justify-content: center;">
                <h1
                  style="
                    font-size: var(--header-text-height);
                    text-align: center;
                    color: white;
                    padding-top: 1vh;
                    margin-top: 4vh;
                  "
                >
                  {{ sub_page.name }}
                </h1>
              </div>
            </a>
            {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>

    <header>
      <nav
        class="navbar fixed-top bg-black navbar-expand-lg"
        style="
          height: var(--header-height);
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
        "
      >
        <a
          class="navbar-brand"
          href="/"
          style="
            display: inline-grid;
            grid-template-columns: auto auto;
            align-items: center;
          "
        >
          <img
            src="/assets/hasi.svg"
            alt="KSV-LiLi Hase"
            style="height: 7.5vh; margin-left: 4vw"
            height="24"
          />
          <span
            id="name"
            class="safari-hotfix"
            style="
              font-size: var(--header-text-height);
              color: white;
              margin-left: 4vw;
              height: var(--header-text-height);
            "
            >KSV-LiLi</span
          >
        </a>
        <button
          class="navbar-toggler"
          type="button"
          data-toggle="collapse"
          data-target="#navbarNavDropdown"
          aria-controls="navbarNavDropdown"
          aria-expanded="false"
          aria-label="Toggle navigation"
          onclick="toggleOffCanvasMenu()"
          style="
              width: 5vh;
              aspect-ratio: 1 / 1;
              height: auto;
              margin: 1rem;
              background-image: url('/assets/list.svg');
              background-size: 100%;
              background-color: rgba(0, 0, 0, 0);
              border: 0;
            "
        ></button>

        <style>
          .list-item > a {
            color: white;
            height: var(--header-text-height);
            font-size: xx-large;
          }

          .nav-link, .nav-link:active, .nav-link:focus {
            color: white !important;
          }
        </style>

        <div
          class="collapse navbar-collapse"
          style="
            left: auto !important;
            right: 4vw !important;
            position: inherit;
          "
          id="navbarNavDropdown"
        >
          <ul
            id="menu"
            class="nav navbar-nav ml-auto"
            style="
              height: var(--header-text-height);
              overflow: visible !important;
            "
          >
          {% for sub_page in layout.sub_pages %}
            {% if sub_page.sub_pages %}
            <li class="nav-item dropdown">
              <a 
                style="
                  padding: 0;
                  margin-right: 2vw;
                  height: var(--header-text-height);
                "
                class="nav-link dropdown-toggle safari-hotfix"
                data-bs-toggle="dropdown" 
                ondblclick="window.location = '{{ site.location }}/{{ sub_page.slug }}'" 
                href="/{{ sub_page.slug }}"
                role="button" 
                aria-expanded="false">{{ sub_page.name }}</a>
              <ul
                class="dropdown-menu"
                style="
                  box-shadow: #ffc107 5px 5px;
                  margin-top: 1vh;
                  width: max-content;
                  height: max-content;
                  padding-bottom: 2vh;
                  border-radius: 0;
                  background: black;
                ">
                {% for option in sub_page.sub_pages %}
                <li class="list-item" style="padding-bottom: 2vh;">
                  <a class="dropdown-item" href="javascript:void(0)" onclick="navigateToSlug('/{{ sub_page.slug }}#{{ option.heading }}')"><span style="font-size: calc(var(--header-text-height) * 0.75);">{{ option.name }}</span></a>
                </li>
                {% endfor %}
              </ul>
            </li>
            {% else %}
            <li class="nav-item">
              <a
                id="{{ sub_page.slug }}"
                class="nav-link safari-hotfix"
                href="/{{ sub_page.slug }}"
                style="
                  padding: 0;
                  margin-right: 2vw;
                  height: var(--header-text-height);
                "
                >{{ sub_page.name }}</a
              >
            </li>
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </nav>
    </header>

    <main style="overflow-x: scroll; overflow-y: hidden">
      <div id="left"></div>
      <div id="right"></div>
      <div id="top"></div>
      <div id="bottom"></div>

      {% if page.header_image %}
      <div
        id="background-image"
        style="
          width: 100vw;
          height: 100vh;
          background-image: url('/assets/header_image.jpg');

          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          -webkit-background-size: cover;
          -moz-background-size: cover;
          background-attachment: fixed;

          display: flex;
          align-items: center;
          justify-content: center;
        "
      >
        <h1
          id="header-moto-text"
          style="
            text-align: center;
            color: white;
            text-shadow: 2px 2px 4px #000000;
            margin-top: 4vh;
          "
        >
          So radikal wie die Wirklichkeit.
        </h1>
      </div>

      <div onclick="scrollToNextH1()" style="width: 100vw;">
        <img
          src="/assets/chevron-double-down.svg"
          style="
            justify-self: center;
            bottom: max(5vh, 42px);
            filter: drop-shadow(2px 2px 4px #000000);
            position: absolute;
            display: unset !important;
            height: 8vh;
            width: 100%;
          "
        />
      </div>

      <style>
        :root {
          --content-margin-top: 5vh;
        }

        #header-moto-text {
          width: 90vw;
          font-size: 6.5vh;
        }
        @media (min-width: 992px) {
          #header-moto-text {
            max-width: 75vw;
            font-size: 10vh;
          }
        }
      </style>
      {% else %}
      <style>
        :root {
          --content-margin-top: 21vh;
        }
      </style>
      {% endif %}

      <div
        class="content"
        style="
          display: flex;
          margin-top: var(--content-margin-top);
          justify-content: center;
        "
      >
        <style>
          #content-actual {
            width: 75vw;
            margin-bottom: 2vh
          }
          @media (min-width: 992px) {
            #content-actual {
              width: 50vw;
            }
          }
        </style>

        <div style="display: grid; grid-template-rows: auto;">
          <div id="content-actual">{{ content }}</div>

          <div>
            <hr>
            <p>Gebaut mit ❤️ ohne 🍪</p>
            <p class="small-p" style="max-width: 50vw; word-wrap: break-word; margin-bottom: 0;">ÖH-Fraktion Kommunistischer Student_innenverband (KSV-LiLi) & "Vota Comunista!" - Student/innenvereinigung (ZVR: 629411970)</p>
            <a href="mailto:ksv.linkeliste@gmail.com">
              <p class="small-p">ksv.linkeliste@gmail.com</p>
            </a>
            <div style="height: 6vh;"></div>
          </div>
        </div>

      </div>
    </main>

    <!--
    <style>
      footer {
          background-color: grey;
          display: inline-flex;
          justify-content: center;
          bottom: min(42px, 5vh);
          height: 12.5vh;
          width: 100%;
      }

      footer > * {
        color: white;
      }

      footer > div > div > h1 {
        margin: 2vw;
        font-size: 3vh;
        width: fit-content;
      }
    </style>

    <footer>
      <div style="width: 90vw; display: grid; grid-template-columns: 70% 10% 20%;">
        <div>
          <h1>Impressum</h1>
          <h1>Kontakt</h1>
          <h1>Datenschutz</h1>
          <h1>Spenden</h1>
        </div>
      <div></div>
      <div style="
        width: 100%; 
        height: calc(100% - 5vh); 
        display: inline-flex; 
        justify-content: end;
        align-items: center;
      ">
        <a style="margin-right: 2vw;" href="https://facebook.com/ksvlinkeliste/">
          <img src="/assets/facebook.svg" style="height: 4vh;"></img>
        </a>
        <a style="margin-right: 2vw;" href="https://twitter.com/ksv_lili">
          <img src="/assets/twitter.svg" style="height: 4vh;"></img>
        </a>
        <a style="margin-right: 4vw;" href="https://www.instagram.com/ksv_lili/">
          <img src="/assets/instagram.svg" style="height: 4vh;"></img>
        </a>
      </div>
      </div>
    </footer>-->
  </body>
</html>
